.search-panel div {
    width: 100%;
}


.search-panel input {
    background-color: rgba(255, 255, 255, 0.5) ;
    border: none;
    width: 70%;
    margin: 20px 15%;
    padding: 10px 10px;
    border-radius: 10px;
    outline: none;
}

.search-panel:focus{
    background-color: rgba(255, 255, 255, 0.8) ;
}

.search-panel p {
    font-size: 2.5em;
    text-align: center;
    color: white;
    text-shadow:2px 2px rgba(185, 185, 185, 0.2);
}

