.header {
    width: 100%;
    background-color: #300571;
    padding-top: 0.5em ;
}

.header ul li {
    padding-left: 3rem;
    list-style: none;
    color: black
}

.header h3 {
    display: inline;
    white-space:nowrap;
    padding-left: 3rem; 
    color: white;
}

.header h3:hover {
    cursor: pointer;
}

.header ul li:hover {
    cursor: pointer;
    color: white
}


